mixin footer
	.footer: .container
		.row
			.col-xs-12.col-md-4
				img(src="images/logo.svg").bta-logo
			.col-xs-12.col-md-4
				h3 About Us
				p A coalition of Trans led and Trans inclusive organizations in Baltimore City working towards the upward mobility and empowerment of Transgender residents through advocacy and education.
			.col-xs-12.col-md-4
				h3 Contact Us
				p
					a.h5(href="mailto:info@bmoretransalliance.com").mdi.mdi-email.mdi-18px &nbsp Send us an e-mail.
		.row
			.text-center
				a(href="https://facebook.com/bmoretransalliance").mdi.mdi-48px.mdi-facebook-box
				a(href="https://twitter.com/alliancebmore").mdi.mdi-48px.mdi-twitter-box
				a(href="https://github.com/apathinwalking/bta-site").mdi.mdi-48px.mdi-github-box
