#header {
	// margin-top: 30px;
}

#intro {
	padding-top: 12px;
	// padding-bottom: 30px;
}

#header .header {
	margin-bottom: 0px;
}

#footer {
	margin-top: 30px;
}

#body {
	padding-top: 50px;
}

// .vcenter {
// 	position: relative;
// 	top: 50%;
// 	transform: translateY(-50%);
// }
.content-padding-row-sm{
	height: 20px;
	width:100%;
}

.gallery-image {
	padding-bottom: 7.5px;
}

.gallery-image img, .gallery-hero-image img {
    // display: block;
    max-width: 100%;
    // height: auto;
}

.about-text-section{
	padding-bottom: 20px;
	p {
		font-size: 18px;
	}
}
