#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
}

#body {
	padding-top: 50px;
}

.gallery-image img, .gallery-hero-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.about-text-section{
	margin-bottom: 20px;
}
